<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/buy/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,402},{79,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,81}</string>
			</dict>
			<key>image/buy/fou.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,452},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>image/buy/foubg.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,421},{209,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,68}</string>
			</dict>
			<key>image/buy/shi.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,459},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>image/buy/shibg.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,916},{209,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,69}</string>
			</dict>
			<key>image/buy/tishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,1},{141,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,55}</string>
			</dict>
			<key>image/help/bangzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,269},{142,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,55}</string>
			</dict>
			<key>image/loser/fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,987},{73,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,36}</string>
			</dict>
			<key>image/loser/fanhuibg.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,213},{209,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,68}</string>
			</dict>
			<key>image/loser/jixu.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,987},{74,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,35}</string>
			</dict>
			<key>image/loser/jixubg.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,283},{209,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,68}</string>
			</dict>
			<key>image/loser/shibai.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,951},{250,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,60}</string>
			</dict>
			<key>image/loser/shibaibg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,442},{507,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{507,128}</string>
			</dict>
			<key>image/play/goumai.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,916},{33,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,34}</string>
			</dict>
			<key>image/play/jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,190},{62,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,64}</string>
			</dict>
			<key>image/play/jinbibg.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,353},{210,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,47}</string>
			</dict>
			<key>image/play/ni1.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,1},{86,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,89}</string>
			</dict>
			<key>image/play/ni2.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,89},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/play/shun1.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,58},{86,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,89}</string>
			</dict>
			<key>image/play/shun2.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,326},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/play/yinyue.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,58},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>image/set/kaiguan.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,149},{80,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,82}</string>
			</dict>
			<key>image/set/kaiguanbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,951},{284,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,65}</string>
			</dict>
			<key>image/set/shezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,269},{140,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,56}</string>
			</dict>
			<key>image/shop/100jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,1},{210,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,125}</string>
			</dict>
			<key>image/shop/200jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,238},{246,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,181}</string>
			</dict>
			<key>image/shop/300jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,1},{235,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,234}</string>
			</dict>
			<key>image/shop/biaotibg.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,442},{507,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{507,128}</string>
			</dict>
			<key>image/shop/goumaibg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{267,439}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,439}</string>
			</dict>
			<key>image/shop/shangdian.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,212},{143,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,55}</string>
			</dict>
			<key>image/shop/tong.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,149},{74,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,39}</string>
			</dict>
			<key>image/shop/yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,414},{43,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,44}</string>
			</dict>
			<key>image/start/bangzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,402},{65,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,36}</string>
			</dict>
			<key>image/start/bangzhubg.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,421},{210,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,69}</string>
			</dict>
			<key>image/start/kaishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,414},{65,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,36}</string>
			</dict>
			<key>image/start/kaishibg.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,633},{210,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,69}</string>
			</dict>
			<key>image/start/shangdian.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,469},{64,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,36}</string>
			</dict>
			<key>image/start/shangdianbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,1},{209,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,68}</string>
			</dict>
			<key>image/start/shezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,414},{65,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,36}</string>
			</dict>
			<key>image/start/shezhibg.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,845},{210,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,69}</string>
			</dict>
			<key>image/win/fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,987},{73,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,36}</string>
			</dict>
			<key>image/win/fanhuibg.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,1},{209,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,68}</string>
			</dict>
			<key>image/win/gongxiwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,353},{201,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,59}</string>
			</dict>
			<key>image/win/gongxiwinbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,442},{507,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{507,128}</string>
			</dict>
			<key>image/win/jixu.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,231},{74,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,35}</string>
			</dict>
			<key>image/win/jixubg.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,632},{209,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,68}</string>
			</dict>
			<key>image/play/Forward btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,402},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist1.png</string>
			<key>realTextureFileName</key>
			<string>Plist1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>