<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/poker/3-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{150,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,212}</string>
			</dict>
			<key>image/poker/3-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,215},{150,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,212}</string>
			</dict>
			<key>image/poker/3-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,429},{150,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,212}</string>
			</dict>
			<key>image/poker/3-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,643},{150,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,212}</string>
			</dict>
			<key>image/poker/3-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,857},{150,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,212}</string>
			</dict>
			<key>image/poker/3-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,1},{150,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,212}</string>
			</dict>
			<key>image/poker/3-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,215},{150,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,212}</string>
			</dict>
			<key>image/poker/3-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,429},{150,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,212}</string>
			</dict>
			<key>image/poker/3-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,643},{150,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,212}</string>
			</dict>
			<key>image/poker/3-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,857},{150,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,212}</string>
			</dict>
			<key>image/poker/3-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,1},{150,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,212}</string>
			</dict>
			<key>image/poker/3-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1},{150,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,212}</string>
			</dict>
			<key>image/poker/4-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,1},{150,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,212}</string>
			</dict>
			<key>image/poker/4-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,153},{150,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,212}</string>
			</dict>
			<key>image/poker/4-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,153},{150,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,212}</string>
			</dict>
			<key>image/poker/4-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,215},{150,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,212}</string>
			</dict>
			<key>image/poker/4-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,305},{150,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,212}</string>
			</dict>
			<key>image/poker/4-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,519},{150,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,212}</string>
			</dict>
			<key>image/poker/4-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,733},{150,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,212}</string>
			</dict>
			<key>image/poker/4-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,305},{150,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,212}</string>
			</dict>
			<key>image/poker/4-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,305},{150,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,212}</string>
			</dict>
			<key>image/poker/4-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,457},{150,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,212}</string>
			</dict>
			<key>image/poker/4-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,429},{150,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,212}</string>
			</dict>
			<key>image/poker/4-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,519},{150,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,212}</string>
			</dict>
			<key>image/poker/4-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,643},{150,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,212}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist3.png</string>
			<key>realTextureFileName</key>
			<string>Plist3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>