<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/game/win.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,957},{143,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,41}</string>
			</dict>
			<key>image/game/winbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,1},{371,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{371,116}</string>
			</dict>
			<key>image/game/xiazhubg.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,374},{371,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{371,116}</string>
			</dict>
			<key>image/game/dollar.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,956},{61,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>image/element/bianpao.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,747},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>image/element/caishen.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,874},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>image/element/denglong.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,747},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>image/element/J.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,874},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>image/element/K.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,548},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>image/element/Q.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,548},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>image/help/beilvbg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,957},{170,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,42}</string>
			</dict>
			<key>image/help/beilvbg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,499},{227,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,49}</string>
			</dict>
			<key>image/help/beilvbg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1},{247,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{247,49}</string>
			</dict>
			<key>image/help/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,956},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>image/help/help.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,956},{97,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,49}</string>
			</dict>
			<key>image/help/heng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,1},{954,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{954,3}</string>
			</dict>
			<key>image/help/beilvbg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,728},{226,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,49}</string>
			</dict>
			<key>image/help/shu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,1},{3,332}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,332}</string>
			</dict>
			<key>image/help/table.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,956},{134,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,28}</string>
			</dict>
			<key>image/help/wupinbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,250},{247,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{247,49}</string>
			</dict>
			<key>image/element/eight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,675},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>image/element/nine.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,802},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>image/element/ten.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,675},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>image/game/gamebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{841,545}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{841,545}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist3.png</string>
			<key>realTextureFileName</key>
			<string>Plist3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>