<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/flycoin/iocns00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>image/flycoin/iocns01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,131},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>image/flycoin/iocns02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,261},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>image/flycoin/iocns03.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>image/flycoin/iocns04.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,131},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>image/flycoin/iocns05.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,261},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>image/flycoin/iocns06.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,1},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>image/flycoin/iocns07.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,131},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>image/flycoin/iocns08.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,261},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>image/flycoin/iocns09.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,1},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>image/flycoin/iocns10.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,131},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>image/flycoin/iocns11.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,261},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>image/flycoin/iocns12.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,1},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>image/flycoin/iocns13.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,1},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>image/flycoin/iocns14.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,1},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>image/flycoin/iocns15.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,131},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist5.png</string>
			<key>realTextureFileName</key>
			<string>Plist5.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>