<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/loading/loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,939},{957,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{957,41}</string>
			</dict>
			<key>image/loading/loadingbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,851},{1000,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1000,86}</string>
			</dict>
			<key>image/loading/logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,1},{398,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{398,328}</string>
			</dict>
			<key>image/start/button1.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,447},{287,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{287,113}</string>
			</dict>
			<key>image/start/button2.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,331},{287,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{287,114}</string>
			</dict>
			<key>image/start/button3.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,331},{171,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,97}</string>
			</dict>
			<key>image/start/button4.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,504},{171,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,97}</string>
			</dict>
			<key>image/start/help.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,677},{119,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,56}</string>
			</dict>
			<key>image/start/set.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,735},{93,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,45}</string>
			</dict>
			<key>image/start/start.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,562},{122,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,56}</string>
			</dict>
			<key>image/set/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,939},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>image/set/music2.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,735},{64,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,65}</string>
			</dict>
			<key>image/set/music1.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,758},{64,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,65}</string>
			</dict>
			<key>image/set/musicbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,754},{156,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,56}</string>
			</dict>
			<key>image/set/set.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,620},{100,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,49}</string>
			</dict>
			<key>image/buy/buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,562},{99,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,50}</string>
			</dict>
			<key>image/buy/no.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,982},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>image/buy/nobg.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,677},{194,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,75}</string>
			</dict>
			<key>image/buy/yes.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,982},{36,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,37}</string>
			</dict>
			<key>image/buy/yesbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,562},{194,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,75}</string>
			</dict>
			<key>image/shop/eighteen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,982},{88,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,38}</string>
			</dict>
			<key>image/shop/six.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,982},{67,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,38}</string>
			</dict>
			<key>image/shop/twelve.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,982},{88,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,38}</string>
			</dict>
			<key>image/buy/buybg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{619,423}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{619,423}</string>
			</dict>
			<key>image/set/setbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,426},{619,423}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{619,423}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist1.png</string>
			<key>realTextureFileName</key>
			<string>Plist1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>