<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/shop/shangchengbt.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,911},{402,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{402,84}</string>
			</dict>
			<key>image/shop/100tb.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,862},{81,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,27}</string>
			</dict>
			<key>image/shop/100tongbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,250},{203,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,195}</string>
			</dict>
			<key>image/shop/30tb.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,862},{70,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,27}</string>
			</dict>
			<key>image/shop/30tongbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,633},{166,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,137}</string>
			</dict>
			<key>image/shop/60tb.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,934},{70,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,27}</string>
			</dict>
			<key>image/shop/60tongbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,447},{202,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,184}</string>
			</dict>
			<key>image/shop/cha.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,123},{93,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,83}</string>
			</dict>
			<key>image/shop/jiagedb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,945},{238,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,76}</string>
			</dict>
			<key>image/shop/tongbidb.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,702},{158,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,50}</string>
			</dict>
			<key>image/loading/jiazaidb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{941,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{941,45}</string>
			</dict>
			<key>image/loading/jiazaitiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,1},{908,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{908,19}</string>
			</dict>
			<key>image/loading/jiazaiwz.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,1},{362,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{362,47}</string>
			</dict>
			<key>image/poker/junshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,575},{17,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,31}</string>
			</dict>
			<key>image/poker/num1.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,365},{18,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,33}</string>
			</dict>
			<key>image/poker/num2.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,400},{18,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,33}</string>
			</dict>
			<key>image/poker/num3.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,540},{17,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,33}</string>
			</dict>
			<key>image/poker/num4.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,435},{18,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,33}</string>
			</dict>
			<key>image/poker/num5.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,470},{18,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,33}</string>
			</dict>
			<key>image/poker/poker_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,48},{74,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,132}</string>
			</dict>
			<key>image/poker/poker1.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,945},{74,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,133}</string>
			</dict>
			<key>image/poker/poker2.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,182},{73,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,133}</string>
			</dict>
			<key>image/poker/poker3.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,945},{74,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,133}</string>
			</dict>
			<key>image/poker/poker4.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,48},{73,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,133}</string>
			</dict>
			<key>image/poker/poker5.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,808},{74,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,133}</string>
			</dict>
			<key>image/poker/poker6.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,801},{74,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,133}</string>
			</dict>
			<key>image/poker/poker7.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,317},{73,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,132}</string>
			</dict>
			<key>image/poker/zhuanhuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,608},{16,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,31}</string>
			</dict>
			<key>image/poker/zhuanhuan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,447},{74,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,133}</string>
			</dict>
			<key>image/game/change.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,48},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>image/over/guojiatx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,808},{120,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,116}</string>
			</dict>
			<key>image/poker/numone.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,505},{18,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,33}</string>
			</dict>
			<key>image/game/bangzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,633},{175,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,173}</string>
			</dict>
			<key>image/game/wenzishuoming.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,365},{335,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{335,26}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist3.png</string>
			<key>realTextureFileName</key>
			<string>Plist3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>