<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/buy/goumaibt.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,908},{388,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,81}</string>
			</dict>
			<key>image/game/fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,385},{86,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,83}</string>
			</dict>
			<key>image/help/bangzhubt.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,813},{388,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,81}</string>
			</dict>
			<key>image/rank/paiming1.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,385},{82,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,96}</string>
			</dict>
			<key>image/rank/paiming2.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,333},{70,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,74}</string>
			</dict>
			<key>image/rank/paiming3.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,526},{69,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,65}</string>
			</dict>
			<key>image/set/guan.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,1},{91,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,34}</string>
			</dict>
			<key>image/set/kai.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,94},{91,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,33}</string>
			</dict>
			<key>image/buy/fou.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,474},{253,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{253,80}</string>
			</dict>
			<key>image/buy/shi.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,729},{253,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{253,80}</string>
			</dict>
			<key>image/game/guojia.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,604},{199,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,207}</string>
			</dict>
			<key>image/game/jiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,593},{62,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,46}</string>
			</dict>
			<key>image/game/lusu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,246},{191,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,211}</string>
			</dict>
			<key>image/game/paidui.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,187},{76,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,34}</string>
			</dict>
			<key>image/game/paiduidb.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,606},{141,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,101}</string>
			</dict>
			<key>image/game/pangtong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,813},{201,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,212}</string>
			</dict>
			<key>image/game/simayi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{340,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,243}</string>
			</dict>
			<key>image/game/taizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,1},{294,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,33}</string>
			</dict>
			<key>image/game/tq.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,265},{46,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,34}</string>
			</dict>
			<key>image/game/tqdb.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,409},{115,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,43}</string>
			</dict>
			<key>image/game/zhang.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,297},{33,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,34}</string>
			</dict>
			<key>image/game/zhouyu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,439},{184,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,208}</string>
			</dict>
			<key>image/game/zugeliang.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,152},{231,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,224}</string>
			</dict>
			<key>image/help/cha.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,385},{93,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,83}</string>
			</dict>
			<key>image/loading/bangzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,650},{256,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,82}</string>
			</dict>
			<key>image/loading/bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,1},{471,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{471,131}</string>
			</dict>
			<key>image/loading/kaishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,1},{475,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{475,149}</string>
			</dict>
			<key>image/loading/paihangbang.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,896},{256,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,82}</string>
			</dict>
			<key>image/loading/shangcheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,474},{130,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,150}</string>
			</dict>
			<key>image/loading/shezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,270},{93,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,90}</string>
			</dict>
			<key>image/over/bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,246},{402,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{402,84}</string>
			</dict>
			<key>image/over/fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,470},{131,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,93}</string>
			</dict>
			<key>image/over/jixu.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,469},{133,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,95}</string>
			</dict>
			<key>image/over/lusutx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,625},{121,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,116}</string>
			</dict>
			<key>image/over/pangtongtx.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,709},{122,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,116}</string>
			</dict>
			<key>image/over/simayitx.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,152},{122,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,116}</string>
			</dict>
			<key>image/over/suanjiedb.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,152},{659,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{659,91}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist1.png</string>
			<key>realTextureFileName</key>
			<string>Plist1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>