<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/over/tx.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,955},{46,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,34}</string>
			</dict>
			<key>image/over/zhouyutx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,767},{122,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,116}</string>
			</dict>
			<key>image/over/zugeliangtx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,472},{122,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,116}</string>
			</dict>
			<key>image/people/bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,897},{665,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{665,56}</string>
			</dict>
			<key>image/people/guojia.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,650},{199,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,207}</string>
			</dict>
			<key>image/people/lusu.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,204},{191,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,211}</string>
			</dict>
			<key>image/people/pangtong.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,1},{201,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,212}</string>
			</dict>
			<key>image/people/simayi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{340,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,243}</string>
			</dict>
			<key>image/people/zhouyu.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,397},{184,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,208}</string>
			</dict>
			<key>image/people/zugeliang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,246},{231,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,224}</string>
			</dict>
			<key>image/poker/beimian.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,583},{74,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,133}</string>
			</dict>
			<key>image/rank/guojiatx.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,819},{120,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,116}</string>
			</dict>
			<key>image/rank/huadongdb.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,246},{10,519}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,519}</string>
			</dict>
			<key>image/rank/huadongtiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,1018},{4,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{4,216}</string>
			</dict>
			<key>image/rank/lusutx.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,701},{121,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,116}</string>
			</dict>
			<key>image/rank/paihangbt.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,246},{402,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{402,84}</string>
			</dict>
			<key>image/rank/paihangdb.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,1},{894,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{894,91}</string>
			</dict>
			<key>image/rank/paiming4.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,955},{60,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,59}</string>
			</dict>
			<key>image/rank/pangtongtx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,596},{122,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,116}</string>
			</dict>
			<key>image/rank/simayitx.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,391},{122,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,116}</string>
			</dict>
			<key>image/rank/tx.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,955},{46,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,34}</string>
			</dict>
			<key>image/rank/x.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,928},{93,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,83}</string>
			</dict>
			<key>image/rank/zhouyutx.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,509},{122,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,116}</string>
			</dict>
			<key>image/rank/zugeliangtx.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,583},{122,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,116}</string>
			</dict>
			<key>image/select/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,472},{107,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,104}</string>
			</dict>
			<key>image/select/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,819},{107,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,104}</string>
			</dict>
			<key>image/select/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,627},{107,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,104}</string>
			</dict>
			<key>image/select/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,733},{107,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,104}</string>
			</dict>
			<key>image/select/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,839},{107,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,104}</string>
			</dict>
			<key>image/select/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,1},{107,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,104}</string>
			</dict>
			<key>image/select/bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,955},{320,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,67}</string>
			</dict>
			<key>image/set/kaiguandb.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,955},{202,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,61}</string>
			</dict>
			<key>image/set/off.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,955},{30,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,24}</string>
			</dict>
			<key>image/set/on.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,1003},{26,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,18}</string>
			</dict>
			<key>image/set/shezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,1},{388,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{388,81}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist2.png</string>
			<key>realTextureFileName</key>
			<string>Plist2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>