<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/1/ranking.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,221},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>image/1/set.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,293},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>image/7/yinxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,493},{56,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,40}</string>
			</dict>
			<key>image/7/yinyue.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,813},{45,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,43}</string>
			</dict>
			<key>image/7/jindutiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,583},{414,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{414,51}</string>
			</dict>
			<key>image/7/huakuai.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,221},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/7/bg_jindutiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,1},{419,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{419,57}</string>
			</dict>
			<key>image/7/bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{554,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{554,138}</string>
			</dict>
			<key>image/6/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,141},{86,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,78}</string>
			</dict>
			<key>image/2/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,493},{338,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{338,43}</string>
			</dict>
			<key>image/2/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,1},{526,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{526,43}</string>
			</dict>
			<key>image/2/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,636},{292,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,43}</string>
			</dict>
			<key>image/2/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,493},{327,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{327,43}</string>
			</dict>
			<key>image/2/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,813},{160,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,43}</string>
			</dict>
			<key>image/2/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,948},{173,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,43}</string>
			</dict>
			<key>image/2/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,422},{524,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{524,43}</string>
			</dict>
			<key>image/2/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,537},{414,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{414,43}</string>
			</dict>
			<key>image/2/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,141},{502,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{502,43}</string>
			</dict>
			<key>image/2/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,537},{321,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{321,43}</string>
			</dict>
			<key>image/2/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,860},{196,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,43}</string>
			</dict>
			<key>image/2/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,870},{358,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{358,43}</string>
			</dict>
			<key>image/2/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,620},{191,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,43}</string>
			</dict>
			<key>image/2/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,948},{515,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{515,43}</string>
			</dict>
			<key>image/2/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,681},{258,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,43}</string>
			</dict>
			<key>image/2/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,323},{88,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,93}</string>
			</dict>
			<key>image/2/exam_locked.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,726},{126,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,59}</string>
			</dict>
			<key>image/2/exam_unlock.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,394},{126,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,59}</string>
			</dict>
			<key>image/2/learning.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,987},{130,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,22}</string>
			</dict>
			<key>image/2/lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,141},{59,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,71}</string>
			</dict>
			<key>image/2/point_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,987},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>image/2/point_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,1004},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>image/2/box_locked.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,1},{159,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,160}</string>
			</dict>
			<key>image/2/box_Pass.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,422},{159,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,160}</string>
			</dict>
			<key>image/2/box_unlock.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,162},{159,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,160}</string>
			</dict>
			<key>image/3/poker/b_black_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,870},{100,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,106}</string>
			</dict>
			<key>image/3/poker/b_black_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,394},{100,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,106}</string>
			</dict>
			<key>image/3/poker/b_red_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,277},{100,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,106}</string>
			</dict>
			<key>image/3/poker/b_red_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,385},{100,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,106}</string>
			</dict>
			<key>image/3/poker/m_black_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,493},{42,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,45}</string>
			</dict>
			<key>image/3/poker/m_black_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,493},{42,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,45}</string>
			</dict>
			<key>image/3/poker/m_red_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,493},{42,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,45}</string>
			</dict>
			<key>image/3/poker/m_red_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,493},{42,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,45}</string>
			</dict>
			<key>image/3/add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,726},{134,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,125}</string>
			</dict>
			<key>image/3/add_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,853},{134,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,125}</string>
			</dict>
			<key>image/3/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,833},{88,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,93}</string>
			</dict>
			<key>image/3/c.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,726},{134,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,125}</string>
			</dict>
			<key>image/3/c_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,493},{134,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,125}</string>
			</dict>
			<key>image/3/Didntget24.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,1},{534,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{534,48}</string>
			</dict>
			<key>image/3/home-page.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,268},{124,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,133}</string>
			</dict>
			<key>image/3/next.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,726},{142,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,107}</string>
			</dict>
			<key>image/3/perfect.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,529},{377,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{377,57}</string>
			</dict>
			<key>image/3/reduce.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,583},{134,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,125}</string>
			</dict>
			<key>image/3/reduce_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,710},{134,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,125}</string>
			</dict>
			<key>image/3/refresh.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,141},{88,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,93}</string>
			</dict>
			<key>image/3/x.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,141},{134,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,125}</string>
			</dict>
			<key>image/3/x_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,141},{134,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,125}</string>
			</dict>
			<key>image/3/yindao.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,908},{56,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,77}</string>
			</dict>
			<key>image/4/Btn_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,1},{490,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{490,147}</string>
			</dict>
			<key>image/5/bg_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,645},{245,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,79}</string>
			</dict>
			<key>image/5/change.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,323},{70,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,81}</string>
			</dict>
			<key>image/6/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,987},{21,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,37}</string>
			</dict>
			<key>image/6/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,987},{27,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,36}</string>
			</dict>
			<key>image/6/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,987},{27,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,37}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist1.png</string>
			<key>realTextureFileName</key>
			<string>Plist1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>