<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/buy/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,512},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>image/buy/no.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,821},{185,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,72}</string>
			</dict>
			<key>image/buy/shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,151},{307,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{307,120}</string>
			</dict>
			<key>image/buy/word.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,486},{416,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{416,39}</string>
			</dict>
			<key>image/buy/yse.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,225},{185,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,72}</string>
			</dict>
			<key>image/help/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,151},{307,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{307,120}</string>
			</dict>
			<key>image/loading/loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,1},{222,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{222,24}</string>
			</dict>
			<key>image/lose/next.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,225},{185,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,72}</string>
			</dict>
			<key>image/lose/Stagecleared.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,168},{420,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{420,55}</string>
			</dict>
			<key>image/pause/quit.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,299},{185,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,72}</string>
			</dict>
			<key>image/pause/return.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,373},{184,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,72}</string>
			</dict>
			<key>image/pause/time.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,177},{307,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{307,120}</string>
			</dict>
			<key>image/play/df.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,225},{162,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,29}</string>
			</dict>
			<key>image/play/dfbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,151},{598,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{598,65}</string>
			</dict>
			<key>image/play/jb.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,412},{101,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,98}</string>
			</dict>
			<key>image/play/jbdb.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,751},{244,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,65}</string>
			</dict>
			<key>image/play/Quit.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,661},{76,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,30}</string>
			</dict>
			<key>image/play/shou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,547},{101,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,89}</string>
			</dict>
			<key>image/play/Stage.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,389},{125,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,36}</string>
			</dict>
			<key>image/set/guan.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,904},{119,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,119}</string>
			</dict>
			<key>image/set/guanbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,784},{218,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{218,79}</string>
			</dict>
			<key>image/set/kai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,225},{119,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,119}</string>
			</dict>
			<key>image/set/kaibg.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,916},{218,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,79}</string>
			</dict>
			<key>image/set/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,177},{307,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{307,120}</string>
			</dict>
			<key>image/shop/100jb.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,1},{231,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,174}</string>
			</dict>
			<key>image/shop/30jb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,751},{225,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,122}</string>
			</dict>
			<key>image/shop/60jb.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,460},{225,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,156}</string>
			</dict>
			<key>image/shop/cointitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,1},{322,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,148}</string>
			</dict>
			<key>image/shop/dollarbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,486},{333,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{333,96}</string>
			</dict>
			<key>image/shop/Gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,784},{72,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,25}</string>
			</dict>
			<key>image/shop/shangcheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{427,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{427,165}</string>
			</dict>
			<key>image/star/coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,447},{101,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,98}</string>
			</dict>
			<key>image/star/coinbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,818},{244,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,65}</string>
			</dict>
			<key>image/star/help.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,486},{296,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{296,107}</string>
			</dict>
			<key>image/star/music.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,512},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>image/star/play.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,618},{296,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{296,107}</string>
			</dict>
			<key>image/star/store.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,618},{296,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{296,107}</string>
			</dict>
			<key>image/win/next.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,346},{185,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,72}</string>
			</dict>
			<key>image/win/gameover.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,916},{467,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{467,64}</string>
			</dict>
			<key>image/win/score.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,516},{143,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,29}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist1.png</string>
			<key>realTextureFileName</key>
			<string>Plist1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>