<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/poker/bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/fangkuai10.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,1},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/fangkuai2.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,1},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/fangkuai3.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,1},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/fangkuai4.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,1},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/fangkuai5.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,1},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/fangkuai6.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,1},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/fangkuai7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,127},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/fangkuai8.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,127},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/fangkuai9.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,127},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/fangkuaia.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,127},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/fangkuaij.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,127},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/fangkuaik.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,127},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/fangkuaiq.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,150},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/heitao10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,253},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/heitao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,253},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/heitao3.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,253},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/heitao4.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,253},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/heitao5.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,253},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/heitao6.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,253},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/heitao7.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,299},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/heitao8.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,379},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/heitao9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,402},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/heitaoa.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,379},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/heitaoj.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,379},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/heitaok.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,379},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/heitaoq.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,379},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/hongxin10.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,425},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/hongxin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,505},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/hongxin3.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,528},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/hongxin4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,551},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/hongxin5.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,505},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/hongxin6.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,505},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/hongxin7.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,505},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/hongxin8.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,551},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/hongxin9.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,631},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/hongxina.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,654},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/hongxinj.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,677},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/hongxink.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,700},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/hongxinq.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,631},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/meihua10.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,631},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/meihua2.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,677},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/meihua3.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,757},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/meihua4.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,780},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/meihua5.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,803},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/poker/meihua6.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,826},{147,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,124}</string>
			</dict>
			<key>image/play/return1.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,677},{80,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,62}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist3.png</string>
			<key>realTextureFileName</key>
			<string>Plist3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>