<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/game/bg_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,878},{311,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,79}</string>
			</dict>
			<key>image/game/times.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,933},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>image/help/TITLE_HELP.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,979},{81,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,40}</string>
			</dict>
			<key>image/next/SCORE.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,756},{177,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,61}</string>
			</dict>
			<key>image/record/TITLE_RECORD.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,267},{141,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,41}</string>
			</dict>
			<key>image/select/pass-mark.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,979},{33,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>
			<key>image/select/unlock-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,0},{97,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,29}</string>
			</dict>
			<key>image/select/unlock-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,97},{97,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,29}</string>
			</dict>
			<key>image/select/unlock-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,194},{97,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,29}</string>
			</dict>
			<key>image/select/unlock-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,291},{97,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,29}</string>
			</dict>
			<key>image/select/unlock-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,420},{97,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,29}</string>
			</dict>
			<key>image/set/OFF.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,959},{183,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,56}</string>
			</dict>
			<key>image/start/logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{593,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{593,267}</string>
			</dict>
			<key>image/game/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,306},{100,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,96}</string>
			</dict>
			<key>image/game/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,306},{101,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,96}</string>
			</dict>
			<key>image/game/Box_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,871},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>image/game/Box_small_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,939},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>image/game/Box_small_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,782},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>image/game/Btn_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,402},{101,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,96}</string>
			</dict>
			<key>image/game/Btn_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,935},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>image/next/Btn_next.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,693},{258,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,89}</string>
			</dict>
			<key>image/next/Btn_replay.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,782},{257,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,89}</string>
			</dict>
			<key>image/next/NEW-RECORD.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,756},{223,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{223,106}</string>
			</dict>
			<key>image/select/guanqia_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,420},{168,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,179}</string>
			</dict>
			<key>image/select/guanqia_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,420},{168,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,179}</string>
			</dict>
			<key>image/select/guanqia_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,588},{168,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,179}</string>
			</dict>
			<key>image/select/guanqia_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,588},{168,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,179}</string>
			</dict>
			<key>image/select/guanqia_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,699},{168,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,179}</string>
			</dict>
			<key>image/select/guanqia_Mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,756},{168,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,179}</string>
			</dict>
			<key>image/select/lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,935},{69,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,87}</string>
			</dict>
			<key>image/select/locked-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,517},{91,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,29}</string>
			</dict>
			<key>image/select/locked-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,608},{91,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,29}</string>
			</dict>
			<key>image/select/locked-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,664},{91,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,29}</string>
			</dict>
			<key>image/select/locked-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,664},{91,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,29}</string>
			</dict>
			<key>image/select/locked-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,979},{91,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,29}</string>
			</dict>
			<key>image/set/music.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,848},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>image/set/ON.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,957},{183,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,56}</string>
			</dict>
			<key>image/set/voice.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,933},{51,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,46}</string>
			</dict>
			<key>image/start/Btn_continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,0},{397,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,153}</string>
			</dict>
			<key>image/start/Btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,153},{397,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,153}</string>
			</dict>
			<key>image/start/Btn_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,267},{397,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,153}</string>
			</dict>
			<key>image/start/Btn_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,267},{397,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{397,153}</string>
			</dict>
			<key>image/Btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,871},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>image/game/Box_small_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,941},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist1.png</string>
			<key>realTextureFileName</key>
			<string>Plist1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>