<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/record/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,731},{572,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{572,48}</string>
			</dict>
			<key>image/record/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,872},{572,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{572,48}</string>
			</dict>
			<key>image/record/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,1},{572,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{572,48}</string>
			</dict>
			<key>image/record/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,1},{572,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{572,48}</string>
			</dict>
			<key>image/Btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,781},{84,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,74}</string>
			</dict>
			<key>image/Btn_help2.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,922},{75,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,74}</string>
			</dict>
			<key>image/Btn_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,655},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>image/guid/Column_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{75,651}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,651}</string>
			</dict>
			<key>image/guid/arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,781},{64,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,45}</string>
			</dict>
			<key>image/guid/Box_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,731},{213,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,215}</string>
			</dict>
			<key>image/guid/Box_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,575},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>image/guid/Box_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,781},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>image/guid/Btn_I know.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,781},{257,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,89}</string>
			</dict>
			<key>image/guid/Btn_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,922},{257,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,89}</string>
			</dict>
			<key>image/guid/row_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,654},{651,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{651,75}</string>
			</dict>
			<key>image/bg/Box_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,731},{213,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,215}</string>
			</dict>
			<key>image/bg/Box_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,948},{65,662}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,662}</string>
			</dict>
			<key>image/bg/Box_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,1},{652,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{652,62}</string>
			</dict>
			<key>image/bg/Box_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,645},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>image/bg/Box_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,781},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist2.png</string>
			<key>realTextureFileName</key>
			<string>Plist2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>