<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/buy/fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,188},{227,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,87}</string>
			</dict>
			<key>image/buy/goumaibt.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,836},{313,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{313,86}</string>
			</dict>
			<key>image/game/dangqiandf.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,417},{259,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{259,72}</string>
			</dict>
			<key>image/game/fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,230},{65,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,64}</string>
			</dict>
			<key>image/game/gezi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{144,569}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,569}</string>
			</dict>
			<key>image/game/jiafentiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,965},{488,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{488,50}</string>
			</dict>
			<key>image/game/jinbidb.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,312},{209,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,45}</string>
			</dict>
			<key>image/game/jinbiicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,523},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>image/game/jinbijia.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,491},{54,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,52}</string>
			</dict>
			<key>image/game/qishigongzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,491},{141,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,188}</string>
			</dict>
			<key>image/game/tizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,681},{100,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,500}</string>
			</dict>
			<key>image/help/bangzhubt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,912},{313,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{313,86}</string>
			</dict>
			<key>image/help/gb.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,669},{78,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,72}</string>
			</dict>
			<key>image/loading/jiazaidb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,783},{856,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{856,51}</string>
			</dict>
			<key>image/loading/jiazaitiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,1},{843,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{843,40}</string>
			</dict>
			<key>image/loading/jiazaiwz.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,665},{180,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,24}</string>
			</dict>
			<key>image/over/fou.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,491},{199,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,76}</string>
			</dict>
			<key>image/over/jieshu.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,669},{262,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{262,87}</string>
			</dict>
			<key>image/over/restart.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,572},{476,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{476,107}</string>
			</dict>
			<key>image/over/shi.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,230},{199,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,76}</string>
			</dict>
			<key>image/pass/gongxitongguan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,846},{502,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{502,64}</string>
			</dict>
			<key>image/pass/score.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,1},{227,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,55}</string>
			</dict>
			<key>image/pass/tongguanbt.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,1},{262,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{262,87}</string>
			</dict>
			<key>image/game/jiafentiaodb.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,1},{50,488}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,488}</string>
			</dict>
			<key>image/poker/hongxin7.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,491},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/hongxin8.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,188},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/hongxin9.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,312},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/hongxina.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,90},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/rank/defen.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,847},{119,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,24}</string>
			</dict>
			<key>image/rank/paihangbangbt.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,665},{326,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{326,87}</string>
			</dict>
			<key>image/rank/paiming1.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,230},{41,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,47}</string>
			</dict>
			<key>image/rank/paiming2.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,297},{41,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,47}</string>
			</dict>
			<key>image/rank/paiming3.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,340},{41,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,47}</string>
			</dict>
			<key>image/rank/paimingdb.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,1},{662,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{662,51}</string>
			</dict>
			<key>image/rank/paimingdbtong.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,1},{662,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{662,51}</string>
			</dict>
			<key>image/rank/paimingtong.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,312},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>image/set/guan.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,846},{155,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,51}</string>
			</dict>
			<key>image/set/kai.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,912},{155,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,51}</string>
			</dict>
			<key>image/set/shezhibt.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,99},{261,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,87}</string>
			</dict>
			<key>image/set/yinxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,352},{315,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{315,40}</string>
			</dict>
			<key>image/set/yinyue.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,1},{349,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{349,40}</string>
			</dict>
			<key>image/shop/jinbibq.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,1},{276,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,96}</string>
			</dict>
			<key>image/shop/yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,340},{196,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,75}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist1.png</string>
			<key>realTextureFileName</key>
			<string>Plist1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>