<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/1/Btn_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,606},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>image/1/Btn_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,700},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>image/2/bg_jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,959},{169,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,41}</string>
			</dict>
			<key>image/2/Btn_10bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,718},{190,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,86}</string>
			</dict>
			<key>image/2/Btn_2bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,520},{190,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,86}</string>
			</dict>
			<key>image/2/Btn_5bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,520},{190,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,86}</string>
			</dict>
			<key>image/2/Btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,606},{93,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,93}</string>
			</dict>
			<key>image/2/Btn_bujiabei.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,712},{190,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,86}</string>
			</dict>
			<key>image/2/chi.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,122},{121,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,113}</string>
			</dict>
			<key>image/2/gang.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,582},{120,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,116}</string>
			</dict>
			<key>image/2/hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,794},{117,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,119}</string>
			</dict>
			<key>image/2/outpointer.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,171},{35,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,44}</string>
			</dict>
			<key>image/2/peng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,900},{121,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,125}</string>
			</dict>
			<key>image/2/qi.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,472},{127,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,132}</string>
			</dict>
			<key>image/2/shengyu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,707},{162,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,191}</string>
			</dict>
			<key>image/2/zhuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,938},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>image/2/bg_difen.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,344},{204,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,126}</string>
			</dict>
			<key>image/2/pai/shuzi1/bai.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,806},{70,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,87}</string>
			</dict>
			<key>image/2/pai/shuzi1/bawan.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,953},{70,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,87}</string>
			</dict>
			<key>image/2/pai/shuzi1/bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,878},{70,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,87}</string>
			</dict>
			<key>image/2/pai/shuzi1/dong.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,950},{70,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,87}</string>
			</dict>
			<key>image/2/pai/shuzi1/erwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,800},{70,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,87}</string>
			</dict>
			<key>image/2/pai/shuzi1/fa.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,872},{70,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,87}</string>
			</dict>
			<key>image/2/pai/shuzi1/jiuwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,800},{70,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,87}</string>
			</dict>
			<key>image/2/pai/shuzi1/kongbai.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,944},{70,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,87}</string>
			</dict>
			<key>image/2/pai/shuzi1/liuwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,872},{70,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,87}</string>
			</dict>
			<key>image/2/pai/shuzi1/nan.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,944},{70,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,87}</string>
			</dict>
			<key>image/2/pai/shuzi1/qiwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,122},{70,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,87}</string>
			</dict>
			<key>image/2/pai/shuzi1/sanwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,294},{70,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,87}</string>
			</dict>
			<key>image/2/pai/shuzi1/siwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,366},{70,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,87}</string>
			</dict>
			<key>image/2/pai/shuzi1/wuwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,438},{70,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,87}</string>
			</dict>
			<key>image/2/pai/shuzi1/xi.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,510},{70,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,87}</string>
			</dict>
			<key>image/2/pai/shuzi1/yiwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,794},{70,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,87}</string>
			</dict>
			<key>image/2/pai/shuzi1/zhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,866},{70,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,87}</string>
			</dict>
			<key>image/2/pai/big_tang.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,959},{53,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,75}</string>
			</dict>
			<key>image/2/pai/shangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,959},{59,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,93}</string>
			</dict>
			<key>image/2/pai/small_gai.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,122},{48,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,66}</string>
			</dict>
			<key>image/2/pai/small_tang.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,190},{48,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,66}</string>
			</dict>
			<key>image/2/pai/xiali.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,601},{73,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,109}</string>
			</dict>
			<key>image/2/pai/xiali_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,878},{73,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,109}</string>
			</dict>
			<key>image/2/pai/shuzi2/bai.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,258},{45,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
			<key>image/2/pai/shuzi2/bawan.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,316},{45,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
			<key>image/2/pai/shuzi2/bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,374},{45,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
			<key>image/2/pai/shuzi2/dong.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,432},{45,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
			<key>image/2/pai/shuzi2/erwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,490},{45,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
			<key>image/2/pai/shuzi2/fa.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,548},{45,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
			<key>image/2/pai/shuzi2/jiuwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,645},{45,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
			<key>image/2/pai/shuzi2/liuwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,582},{45,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
			<key>image/2/pai/shuzi2/nan.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,692},{45,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
			<key>image/2/pai/shuzi2/qiwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,707},{45,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
			<key>image/2/pai/shuzi2/sanwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,915},{45,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
			<key>image/2/pai/shuzi2/siwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,973},{45,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
			<key>image/2/pai/shuzi2/wuwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,915},{45,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
			<key>image/2/pai/shuzi2/xi.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,973},{45,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
			<key>image/2/pai/shuzi2/yiwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,237},{45,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
			<key>image/2/pai/shuzi2/zhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,237},{45,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
			<key>image/2/pai/shuzi3/bai.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,750},{42,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,52}</string>
			</dict>
			<key>image/2/pai/shuzi3/bawan.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,284},{42,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,52}</string>
			</dict>
			<key>image/2/pai/shuzi3/bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,328},{42,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,52}</string>
			</dict>
			<key>image/2/pai/shuzi3/dong.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,335},{42,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,52}</string>
			</dict>
			<key>image/2/pai/shuzi3/erwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,372},{42,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,52}</string>
			</dict>
			<key>image/2/pai/shuzi3/fa.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,389},{42,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,52}</string>
			</dict>
			<key>image/2/pai/shuzi3/jiuwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,416},{42,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,52}</string>
			</dict>
			<key>image/2/pai/shuzi3/kongbai.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,443},{42,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,52}</string>
			</dict>
			<key>image/2/pai/shuzi3/liuwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,460},{42,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,52}</string>
			</dict>
			<key>image/2/pai/shuzi3/nan.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,497},{42,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,52}</string>
			</dict>
			<key>image/2/pai/shuzi3/qiwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,551},{42,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,52}</string>
			</dict>
			<key>image/2/pai/shuzi3/sanwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,504},{42,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,52}</string>
			</dict>
			<key>image/2/pai/shuzi3/siwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,548},{42,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,52}</string>
			</dict>
			<key>image/2/pai/shuzi3/wuwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,122},{42,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,52}</string>
			</dict>
			<key>image/2/pai/shuzi3/xi.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,122},{42,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,52}</string>
			</dict>
			<key>image/2/pai/shuzi3/yiwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,122},{42,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,52}</string>
			</dict>
			<key>image/2/pai/shuzi3/zhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,166},{42,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,52}</string>
			</dict>
			<key>image/close_tanchuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,284},{50,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,49}</string>
			</dict>
			<key>image/close_jiesuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,211},{82,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,81}</string>
			</dict>
			<key>image/lose/Btn_zailaiyiju.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,879},{239,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,78}</string>
			</dict>
			<key>image/lose/caidai.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,1},{517,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{517,119}</string>
			</dict>
			<key>image/lose/shibai.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,677},{200,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,101}</string>
			</dict>
			<key>image/pochan/Btn_chongxinkaishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,676},{166,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,70}</string>
			</dict>
			<key>image/pochan/Btn_fahuidating.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,806},{166,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,70}</string>
			</dict>
			<key>image/win/caidai.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,1},{517,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{517,119}</string>
			</dict>
			<key>image/win/shengli.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,472},{203,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,107}</string>
			</dict>
			<key>image/win/x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,344},{361,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{361,99}</string>
			</dict>
			<key>image/win/guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{342,341}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{342,341}</string>
			</dict>
			<key>image/4/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,520},{61,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>image/4/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,582},{61,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>image/4/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,520},{61,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>image/4/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,645},{61,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>image/4/bg_jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,1},{168,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,37}</string>
			</dict>
			<key>image/4/win.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,217},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>
			<key>image/4/bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,122},{594,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{594,70}</string>
			</dict>
			<key>image/help/Btn_bangzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,700},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist1.png</string>
			<key>realTextureFileName</key>
			<string>Plist1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>