<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/achievement/bg_jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,140},{229,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,43}</string>
			</dict>
			<key>image/achievement/kelingqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,357},{123,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,59}</string>
			</dict>
			<key>image/achievement/title_chengjiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,37},{193,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,96}</string>
			</dict>
			<key>image/achievement/tupian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,446},{59,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,58}</string>
			</dict>
			<key>image/achievement/tupian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,482},{59,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,58}</string>
			</dict>
			<key>image/achievement/tupian3.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,506},{59,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,58}</string>
			</dict>
			<key>image/achievement/weiwancheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,231},{124,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,59}</string>
			</dict>
			<key>image/achievement/yilingqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,354},{90,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,43}</string>
			</dict>
			<key>image/coin/jinbi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,542},{58,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,53}</string>
			</dict>
			<key>image/coin/jinbi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,566},{53,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,58}</string>
			</dict>
			<key>image/coin/jinbi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,597},{58,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,53}</string>
			</dict>
			<key>image/coin/jinbi4.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,433},{58,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,53}</string>
			</dict>
			<key>image/coin/jinbi5.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,488},{58,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,53}</string>
			</dict>
			<key>image/coin/jinbi6.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,543},{58,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,53}</string>
			</dict>
			<key>image/game/animal/777.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,435},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/game/animal/bangma.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,508},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/game/animal/Btn_777.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,241},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/animal/Btn_777_un.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,327},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/animal/Btn_bangma.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,329},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/animal/Btn_bangma_unclickable.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,371},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/animal/Btn_daxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,415},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/animal/Btn_daxiang_unclickable.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,417},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/animal/Btn_houzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,459},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/animal/Btn_houzi_unclickable.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,503},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/animal/Btn_laohu.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,547},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/animal/Btn_laohu_unclickable.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,143},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/animal/Btn_laoying.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,143},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/animal/Btn_laoying_unclickable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,169},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/animal/Btn_lingdang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,257},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/animal/Btn_lingdang_un.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,231},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/animal/Btn_shizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,345},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/animal/Btn_shizi_unclickable.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,231},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/animal/Btn_xing.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,319},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/animal/Btn_xing_un.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,319},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/animal/daxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,261},{85,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,72}</string>
			</dict>
			<key>image/game/animal/houzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,581},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/game/animal/laohu.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,654},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/game/animal/laoying.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,348},{83,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,69}</string>
			</dict>
			<key>image/game/animal/lingdan.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,899},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/game/animal/shizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,359},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>
			<key>image/game/animal/tongchi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,943},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/game/animal/xing.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,943},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/game/fruits/777.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,943},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/game/fruits/Btn_777.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,401},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/fruits/Btn_777_un.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,441},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/fruits/Btn_chengzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,505},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/fruits/Btn_chengzi_un.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,591},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/fruits/Btn_li.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,593},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/fruits/Btn_li_un.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,635},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/fruits/Btn_lingdang.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,679},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/fruits/Btn_lingdang_un.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,723},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/fruits/Btn_ningmeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,407},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/fruits/Btn_ningmeng_un.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,407},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/fruits/Btn_pingguo.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,489},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/fruits/Btn_pingguo_un.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,529},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/fruits/Btn_xigua.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,433},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/fruits/Btn_xigua_un.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,521},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/fruits/Btn_xing.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,495},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/fruits/Btn_xing_un.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,495},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/fruits/chengzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,815},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/game/fruits/li.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,847},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/game/fruits/lingdan.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,793},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/game/fruits/ningmeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,841},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/game/fruits/pingguo.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,888},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/game/fruits/tongchi.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,920},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/game/fruits/xigua.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,828},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/game/fruits/xing.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,866},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/game/seabed/777.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,914},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/game/seabed/Btn_777.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,577},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/seabed/Btn_777_un.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,617},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/seabed/Btn_haigui.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,652},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/seabed/Btn_haigui_un.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,681},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/seabed/Btn_haima.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,767},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/seabed/Btn_haima_un.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,811},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/seabed/Btn_haitun.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,583},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/seabed/Btn_haitun_un.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,583},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/seabed/Btn_jing.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,665},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/seabed/Btn_jing_un.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,705},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/seabed/Btn_lingdang.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,740},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/seabed/Btn_lingdang_un.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,769},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/seabed/Btn_shayu.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,855},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/seabed/Btn_shayu_un.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,899},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/seabed/Btn_xiaoyu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,609},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/seabed/Btn_xiaoyu_un.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,671},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/seabed/Btn_xing.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,727},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/seabed/Btn_xing_un.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,759},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/game/seabed/haima.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,857},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/game/seabed/haitun.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,901},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/game/seabed/jing.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,939},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/game/seabed/lingdan.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,930},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/game/seabed/shayu.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,930},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/game/seabed/tongchi.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,943},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/game/seabed/wugui.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,671},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/game/seabed/xiaoyu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,697},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/game/seabed/xing.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,744},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>image/game/bg_xaizhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{753,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{753,34}</string>
			</dict>
			<key>image/game/box.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,169},{90,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,80}</string>
			</dict>
			<key>image/game/box_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,150},{100,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,90}</string>
			</dict>
			<key>image/game/fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,1},{137,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,91}</string>
			</dict>
			<key>image/game/start.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,1},{173,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,130}</string>
			</dict>
			<key>image/game/start_un.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,37},{173,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,130}</string>
			</dict>
			<key>image/game/tubiaoanniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,753},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>image/hall/bangzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,242},{80,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,110}</string>
			</dict>
			<key>image/hall/bg_jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,135},{222,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{222,44}</string>
			</dict>
			<key>image/hall/chengju.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,133},{106,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,109}</string>
			</dict>
			<key>image/hall/paihangbang.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,37},{115,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,111}</string>
			</dict>
			<key>image/hall/set.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,135},{90,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,108}</string>
			</dict>
			<key>image/rank/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,227},{97,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,85}</string>
			</dict>
			<key>image/rank/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,314},{97,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,85}</string>
			</dict>
			<key>image/rank/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,354},{97,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,85}</string>
			</dict>
			<key>image/rank/bg_jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,140},{229,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,43}</string>
			</dict>
			<key>image/rank/title_paihangbang.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,37},{202,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,104}</string>
			</dict>
			<key>image/rank/ying.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,621},{47,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,48}</string>
			</dict>
			<key>image/set/guan.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,37},{192,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,57}</string>
			</dict>
			<key>image/set/kai.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,133},{192,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,57}</string>
			</dict>
			<key>image/set/yinxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,135},{63,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,31}</string>
			</dict>
			<key>image/set/yinyue.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,200},{63,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,31}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist1.png</string>
			<key>realTextureFileName</key>
			<string>Plist1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>