<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/poker/bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{230,316}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,316}</string>
			</dict>
			<key>image/poker/card_hearts_j.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,319},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/card_hearts_k.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,485},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/card_hearts_q.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,651},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/card_spades_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,817},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/card_spades_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,319},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/card_spades_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,1},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/card_spades_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,167},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/card_spades_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,1},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/card_spades_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,485},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/card_spades_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,651},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/card_spades_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,817},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/card_spades_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,167},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/card_spades_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/card_spades_j.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,167},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/card_spades_k.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/card_spades_q.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,1},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/fangkuai10.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,1},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/fangkuai2.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,125},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/fangkuai3.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,249},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/fangkuai4.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,249},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/fangkuai5.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,291},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/fangkuai6.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,291},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/fangkuai7.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,291},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/fangkuai8.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,373},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/fangkuai9.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,415},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/fangkuaia.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,415},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/fangkuaij.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,415},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/fangkuaik.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,457},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/fangkuaiq.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,497},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/heitao10.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,581},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/heitao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,621},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/heitao3.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,539},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/heitao4.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,539},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/heitao5.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,623},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/heitao6.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,745},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/heitao7.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,747},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/heitao8.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,869},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/heitao9.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,663},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/heitaoa.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,663},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/heitaoj.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,787},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/heitaok.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,789},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/heitaoq.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,869},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist2.png</string>
			<key>realTextureFileName</key>
			<string>Plist2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>