<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/buy/fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,264},{227,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,87}</string>
			</dict>
			<key>image/buy/goumai.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,571},{227,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,87}</string>
			</dict>
			<key>image/buy/goumaibt.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,665},{313,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{313,86}</string>
			</dict>
			<key>image/game/dangqiandf.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,493},{259,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{259,72}</string>
			</dict>
			<key>image/game/fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,727},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,75}</string>
			</dict>
			<key>image/game/gezi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{144,569}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,569}</string>
			</dict>
			<key>image/game/jiafentiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,980},{490,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{490,30}</string>
			</dict>
			<key>image/game/jinbidb.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,89},{209,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,45}</string>
			</dict>
			<key>image/game/jinbiicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,1},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>image/game/jinbijia.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,433},{54,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,52}</string>
			</dict>
			<key>image/game/qishigongzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,727},{129,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,163}</string>
			</dict>
			<key>image/game/tizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,572},{100,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,500}</string>
			</dict>
			<key>image/help/bangzhubt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,727},{313,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{313,86}</string>
			</dict>
			<key>image/help/gb.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,353},{78,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,72}</string>
			</dict>
			<key>image/loading/jiazaidb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,674},{856,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{856,51}</string>
			</dict>
			<key>image/loading/jiazaitiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,1},{841,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{841,40}</string>
			</dict>
			<key>image/loading/jiazaiwz.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,665},{205,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,26}</string>
			</dict>
			<key>image/over/fou.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,493},{199,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,76}</string>
			</dict>
			<key>image/over/jieshu.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,727},{262,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{262,87}</string>
			</dict>
			<key>image/over/restart.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,923},{351,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,37}</string>
			</dict>
			<key>image/over/shi.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,353},{199,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,76}</string>
			</dict>
			<key>image/pass/fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,1},{225,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,86}</string>
			</dict>
			<key>image/pass/gongxitongguan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,844},{405,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{405,77}</string>
			</dict>
			<key>image/pass/score.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,923},{237,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,55}</string>
			</dict>
			<key>image/pass/tongguanbt.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,1},{262,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{262,87}</string>
			</dict>
			<key>image/game/jiafentiaodb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,980},{502,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{502,38}</string>
			</dict>
			<key>image/poker/hongxin7.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,493},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/hongxin8.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,353},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/hongxin9.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,353},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/poker/hongxina.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,90},{122,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,164}</string>
			</dict>
			<key>image/rank/defen.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,872},{84,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,29}</string>
			</dict>
			<key>image/rank/paihangbangbt.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,1},{261,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{261,87}</string>
			</dict>
			<key>image/rank/paiming1.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,489},{41,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,47}</string>
			</dict>
			<key>image/rank/paiming2.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,449},{41,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,47}</string>
			</dict>
			<key>image/rank/paiming3.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,449},{41,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,47}</string>
			</dict>
			<key>image/rank/paimingdb.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,1},{662,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{662,51}</string>
			</dict>
			<key>image/rank/paimingdbtong.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,1},{662,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{662,51}</string>
			</dict>
			<key>image/rank/paimingtong.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,1},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>image/set/guan.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,858},{155,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,51}</string>
			</dict>
			<key>image/set/kai.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,136},{155,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,51}</string>
			</dict>
			<key>image/set/shezhibt.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,264},{261,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,87}</string>
			</dict>
			<key>image/set/yinxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,353},{111,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,46}</string>
			</dict>
			<key>image/set/yinyue.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,401},{110,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,46}</string>
			</dict>
			<key>image/shop/jinbibq.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,844},{276,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,96}</string>
			</dict>
			<key>image/shop/yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,256},{196,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,75}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist1.png</string>
			<key>realTextureFileName</key>
			<string>Plist1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>