<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/over/tx.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,560},{46,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,34}</string>
			</dict>
			<key>image/over/zhouyutx.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,872},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>image/over/zugeliangtx.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,872},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>image/people/bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,1},{869,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{869,54}</string>
			</dict>
			<key>image/people/guojia.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,556},{181,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,205}</string>
			</dict>
			<key>image/people/lusu.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,318},{211,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,206}</string>
			</dict>
			<key>image/people/pangtong.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,476},{189,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,202}</string>
			</dict>
			<key>image/people/simayi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{274,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,234}</string>
			</dict>
			<key>image/people/zhouyu.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,282},{192,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,229}</string>
			</dict>
			<key>image/people/zugeliang.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,94},{250,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,222}</string>
			</dict>
			<key>image/poker/beimian.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,425},{74,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,133}</string>
			</dict>
			<key>image/rank/guojiatx.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,872},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>image/rank/huadongdb.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,1},{10,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,493}</string>
			</dict>
			<key>image/rank/huadongtiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,496},{4,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,216}</string>
			</dict>
			<key>image/rank/lusutx.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,872},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>image/rank/paihangbt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,872},{250,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,135}</string>
			</dict>
			<key>image/rank/paihangdb.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,1},{659,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{659,91}</string>
			</dict>
			<key>image/rank/paiming4.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,522},{60,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,59}</string>
			</dict>
			<key>image/rank/pangtongtx.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,872},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>image/rank/simayitx.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,583},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>image/rank/tx.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,596},{46,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,34}</string>
			</dict>
			<key>image/rank/x.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,872},{135,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,138}</string>
			</dict>
			<key>image/rank/zhouyutx.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,680},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>image/rank/zugeliangtx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,733},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>image/select/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,94},{152,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,152}</string>
			</dict>
			<key>image/select/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,248},{152,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,152}</string>
			</dict>
			<key>image/select/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,402},{152,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,152}</string>
			</dict>
			<key>image/select/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,425},{152,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,152}</string>
			</dict>
			<key>image/select/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,526},{152,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,152}</string>
			</dict>
			<key>image/select/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,579},{152,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,152}</string>
			</dict>
			<key>image/select/bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,237},{250,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,186}</string>
			</dict>
			<key>image/set/kaiguandb.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,318},{202,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{202,61}</string>
			</dict>
			<key>image/set/off.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,714},{40,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,26}</string>
			</dict>
			<key>image/set/on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,496},{35,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,18}</string>
			</dict>
			<key>image/set/shezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,94},{250,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,186}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist2.png</string>
			<key>realTextureFileName</key>
			<string>Plist2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>