<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/shop/shangchengbt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,48},{250,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,171}</string>
			</dict>
			<key>image/shop/100tb.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,987},{125,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,27}</string>
			</dict>
			<key>image/shop/100tongbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,48},{203,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,195}</string>
			</dict>
			<key>image/shop/30tb.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,987},{114,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,27}</string>
			</dict>
			<key>image/shop/30tongbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,48},{166,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,137}</string>
			</dict>
			<key>image/shop/60tb.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,990},{114,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,27}</string>
			</dict>
			<key>image/shop/60tongbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,48},{202,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{202,184}</string>
			</dict>
			<key>image/shop/cha.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,187},{135,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,138}</string>
			</dict>
			<key>image/shop/jiagedb.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,911},{155,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,93}</string>
			</dict>
			<key>image/shop/tongbidb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,938},{158,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,50}</string>
			</dict>
			<key>image/loading/jiazaidb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{941,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{941,45}</string>
			</dict>
			<key>image/loading/jiazaitiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,1},{908,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{908,19}</string>
			</dict>
			<key>image/loading/jiazaiwz.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,1},{338,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{338,55}</string>
			</dict>
			<key>image/poker/junshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,911},{19,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,33}</string>
			</dict>
			<key>image/poker/num1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,946},{18,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,33}</string>
			</dict>
			<key>image/poker/num2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,981},{18,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,33}</string>
			</dict>
			<key>image/poker/num3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1006},{17,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,33}</string>
			</dict>
			<key>image/poker/num4.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,938},{18,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,33}</string>
			</dict>
			<key>image/poker/num5.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,938},{18,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,33}</string>
			</dict>
			<key>image/poker/poker_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,611},{74,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,132}</string>
			</dict>
			<key>image/poker/poker1.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,911},{74,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,133}</string>
			</dict>
			<key>image/poker/poker2.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,745},{73,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,133}</string>
			</dict>
			<key>image/poker/poker3.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,938},{74,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,133}</string>
			</dict>
			<key>image/poker/poker4.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,250},{73,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,133}</string>
			</dict>
			<key>image/poker/poker5.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,938},{74,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,133}</string>
			</dict>
			<key>image/poker/poker6.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,341},{74,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,133}</string>
			</dict>
			<key>image/poker/poker7.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,250},{73,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,132}</string>
			</dict>
			<key>image/poker/zhuanhuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,1006},{16,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,31}</string>
			</dict>
			<key>image/poker/zhuanhuan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,476},{74,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,133}</string>
			</dict>
			<key>image/game/change.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,48},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>image/over/guojiatx.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,245},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>image/poker/numone.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,973},{18,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,33}</string>
			</dict>
			<key>image/game/bangzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,938},{84,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,83}</string>
			</dict>
			<key>image/game/wenzishuoming.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,911},{597,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{597,25}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist3.png</string>
			<key>realTextureFileName</key>
			<string>Plist3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>