<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/poker/fangkuai10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/fangkuai2.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,1},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/fangkuai3.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,1},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/fangkuai4.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,1},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/fangkuai5.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,1},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/fangkuai6.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,1},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/fangkuai7.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,1},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/fangkuai8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,127},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/fangkuai9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,272},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/fangkuaia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,417},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/fangkuaij.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,562},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/fangkuaik.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,707},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/fangkuaiq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,852},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/heitao10.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,127},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/heitao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,127},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/heitao3.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,127},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/heitao4.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,127},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/heitao5.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,127},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/heitao6.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,127},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/heitao7.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,253},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/heitao8.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,398},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/heitao9.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,543},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/heitaoa.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,688},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/heitaoj.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,833},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/heitaok.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,253},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/heitaoq.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,253},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/hongxin10.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,253},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/hongxin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,253},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/hongxin3.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,253},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,379},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/hongxin4.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,524},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/hongxin5.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,669},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/hongxin6.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,814},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/hongxin7.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,379},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/hongxin8.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,379},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/hongxin9.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,379},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/hongxina.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,379},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/hongxinj.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,505},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/hongxink.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,650},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/hongxinq.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,795},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/meihua10.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,505},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/meihua2.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,505},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/meihua3.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,505},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/meihua4.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,631},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/meihua5.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,776},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/meihua6.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,631},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/meihua7.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,631},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/meihua8.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,757},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/meihua9.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,757},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
			<key>image/poker/meihuaa.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,883},{143,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,124}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist1.png</string>
			<key>realTextureFileName</key>
			<string>Plist1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>