<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/buy/biaotidb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,336},{466,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{466,127}</string>
			</dict>
			<key>image/buy/fou.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,1},{175,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,50}</string>
			</dict>
			<key>image/buy/goumai.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,170},{120,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,50}</string>
			</dict>
			<key>image/buy/shi.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,178},{175,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,50}</string>
			</dict>
			<key>image/help/bangzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,631},{119,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,50}</string>
			</dict>
			<key>image/help/gb.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,509},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>image/over/defendb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,948},{514,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{514,52}</string>
			</dict>
			<key>image/over/queding.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,866},{198,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,50}</string>
			</dict>
			<key>image/over/zuizhongdefen.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,355},{263,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{263,30}</string>
			</dict>
			<key>image/pass/tongguan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,866},{411,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{411,80}</string>
			</dict>
			<key>image/pass/xiayiguan.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,1},{198,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,50}</string>
			</dict>
			<key>image/pause/guan.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,769},{62,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,36}</string>
			</dict>
			<key>image/pause/jixu.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,201},{198,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,50}</string>
			</dict>
			<key>image/pause/kai.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,716},{62,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,36}</string>
			</dict>
			<key>image/pause/kgdb.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,620},{147,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,44}</string>
			</dict>
			<key>image/pause/yinliang.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,292},{47,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,44}</string>
			</dict>
			<key>image/pause/yinyue.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,292},{39,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,42}</string>
			</dict>
			<key>image/pause/zanting.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,190},{120,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,50}</string>
			</dict>
			<key>image/rank/defen.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,170},{65,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,29}</string>
			</dict>
			<key>image/rank/gb.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,87},{81,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>image/rank/guanka.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,605},{65,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,32}</string>
			</dict>
			<key>image/rank/guankadb.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,401},{163,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{163,61}</string>
			</dict>
			<key>image/rank/gundongtiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,1002},{11,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{11,57}</string>
			</dict>
			<key>image/rank/gundongtiaodb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1002},{11,411}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{11,411}</string>
			</dict>
			<key>image/rank/mingcidb.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,1},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>image/rank/paihangbang.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,566},{189,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,50}</string>
			</dict>
			<key>image/rank/paihangdb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,804},{800,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,60}</string>
			</dict>
			<key>image/rank/paiming1.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,459},{109,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,71}</string>
			</dict>
			<key>image/rank/paiming2.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,532},{109,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,71}</string>
			</dict>
			<key>image/rank/paiming3.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,605},{109,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,71}</string>
			</dict>
			<key>image/shop/100jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,1},{187,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,127}</string>
			</dict>
			<key>image/shop/30jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,757},{152,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,131}</string>
			</dict>
			<key>image/shop/60jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,336},{171,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,146}</string>
			</dict>
			<key>image/shop/goumaidb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{259,333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{259,333}</string>
			</dict>
			<key>image/shop/jiagedb.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,918},{228,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,105}</string>
			</dict>
			<key>image/shop/jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,833},{46,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,28}</string>
			</dict>
			<key>image/shop/jinbidb.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,355},{102,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,103}</string>
			</dict>
			<key>image/shop/shangcheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,890},{121,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,50}</string>
			</dict>
			<key>image/over/shijiandao.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,866},{248,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,65}</string>
			</dict>
			<key>image/game/shezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,509},{120,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,50}</string>
			</dict>
			<key>image/game/jb.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,716},{39,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,34}</string>
			</dict>
			<key>image/game/shuaxindb.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,933},{207,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,70}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist3.png</string>
			<key>realTextureFileName</key>
			<string>Plist3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>